<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User lots</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/background.css" rel="stylesheet">
    <link href="/css/tooltip.css" rel="stylesheet">
    <link href="/css/table.css" rel="stylesheet">
    <link href="/css/button.css" rel="stylesheet">
    <link href="/css/modal.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jQuery/jquery_3_7_1.js"></script>

</head>
<body>

<div class="container">
    <h1>Your lots:</h1>

    <div id="upd">
        <table>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Type</th>
                <th>Current price</th>
                <th>Sell until</th>
                <th>Last customer</th>
                <th colspan="2">Action</th>
            </tr>
            <tr th:each="lot: ${lots}">
                <td class="clickable" th:data-modal="${lot.lotId}" width="10%">
                    <img th:src="'data:image/jpg;base64, ' + ${lot.property.getBase64Photo()}" width="100%"/>
                </td>
                <td class="clickable" th:data-modal="${lot.lotId}" th:text="${lot.getProperty().getName()}"></td>
                <td class="clickable" th:data-modal="${lot.lotId}" th:text="${lot.property.type}"></td>
                <td class="clickable" th:data-modal="${lot.lotId}" th:text="${lot.currentPrice}"></td>
                <td class="clickable" th:data-modal="${lot.lotId}" th:text="${lot.sellUntil}"></td>
                <td class="clickable" th:data-modal="${lot.lotId}" th:if="${lot.lastCustomer} != null"
                    th:text="${lot.lastCustomer.authorizationData.login}"></td>
                <td class="clickable" th:data-modal="${lot.lotId}" th:unless="${lot.lastCustomer} != null">NOT</td>
                <td class="forButton">
                    <form class="tooltip" th:action="@{/lots/{id}/edit(id=${lot.getLotId()})}">
                        <button class="edit" type="submit"><i class="material-icons">edit</i></button>
                        <span class="tooltiptext">Edit</span>
                    </form>
                </td>

                <td class="forButton" th:if="${lot.getLastCustomer()} == null">
                    <form class="tooltip"  th:method="DELETE"
                          th:action="@{/lots/{id}/delete(id = ${lot.getLotId()})}">
                        <button class="delete" type="submit"><i class="material-icons">delete</i></button>
                        <span class="tooltiptext">Delete</span>
                    </form>
                </td>

                <td class="forButton" th:unless="${lot.getLastCustomer()} == null">
                    <form class="tooltip">
                        <button class="undeletable" type="submit"><i class="material-icons"
                                                                aria-disabled="true">delete</i></button>
                        <span class="tooltiptext">Has a customer</span>
                    </form>
                </td>

            </tr>
        </table>
    </div>

    <table class="forButton">
        <td class="forButton">
            <form class="tooltip" th:action="@{/newLot}">
                <button class="add" type="submit"><i class="material-icons">add</i></button>
                <span class="tooltiptext add">Add lot</span>
            </form>
        </td>
    </table>

    <hr/>

    <form th:class="center" th:if="${hasRoleAdmin}" th:action="@{/admin/account}">
        <button class="back" type="submit"><i class="material-icons">arrow_back</i>Back to profile</button>
    </form>

    <form th:class="center" th:unless="${hasRoleAdmin}" th:action="@{/user/account}">
        <button class="back" type="submit"><i class="material-icons">arrow_back</i> Back to profile</button>
    </form>
</div>


<!-- The Modal -->
<div th:each="lot: ${lots}" th:id="${lot.lotId}" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 th:text="${lot.property.name}"></h2>
        <table>
            <tr>
                <th>Weight</th>
                <th>Size</th>
                <th>Description</th>
            </tr>
            <tr>
                <td th:text="${lot.property.weight}"></td>
                <td th:text="${lot.property.size}"></td>
                <td th:unless="${lot.property.description} == ''" th:text="${lot.property.description}"></td>
                <td th:if="${lot.property.description} == ''"> - </td>
            </tr>
        </table>
        <hr/>
        <img th:src="'data:image/jpg;base64, ' + ${lot.property.getBase64Photo()}" width="100%" align="center">
    </div>
</div>


<script src="/js/table.js"></script>
<script src="/js/userLots.js"></script>

</body>
</html>



