button.edit {
    height: 37px;
    border-radius: 50%;
    background-color: lightGrey;
    border: 0px;
}

button.edit:hover {
    color: orange;
    background-color: Grey;
}

button.delete {
    height: 37px;
    border-radius: 50%;
    background-color: lightGrey;
    border: 0px;
}

button.delete:hover {
    color: red;
    background-color: Grey;
}

button.undeletable {
    background-color: lightGrey;
    color: grey;
    border: 0px;
}

button.undeletable:hover {
    color: LightPink;
    cursor: not-allowed;
}

button.bet {
    height: 37px;
    border-radius: 50%;
    background-color: lightGrey;
    border: 0px;
}

button.bet:hover {
    color: green;
    background-color: Silver;
}

button.add {
    height: 35px;
    color: springGreen;
    background-color: grey;
    border: 1px solid black;
    border-radius: 3px;
}

button.back {
    text-color: blue;
    background-color: #04AA6D;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

button.back:hover {
    background-color: plum;
}

button:hover {
    cursor: pointer;
}

button.add:hover {
    color: orange;
}

.material-icons {
    padding-left: 1px;
    vertical-align: middle;
}

.center {
    text-align: center;
}

button.account {
    padding: 3% 12%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    font: 350% cursive;
    border-radius: 30px;
}

button.account:hover {
    background-color: olive;
}
